.container {

    .lh-rh-flex {
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: nowrap;
    }

    .lh-box,
    .rh-box {
        flex: 0 0 auto;
    }

    .lh-box {
        display: flex;
        flex-direction: column;
        padding-inline: 30px;
        margin-inline: auto;
        width: 100%;
    }

    .title-section {
        margin-bottom: 2rem;
    }

    .on-this-day {
        margin-bottom: 1rem;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .activities-section {
        height: 80%;

        .unselected-msg {
            display: grid;
            place-items: center;
            height: 100%;
            font-style: italic;
            font-weight: 100;
            letter-spacing: 1px;
            text-align: center;
        }
    }

    .habit-box {
        margin-bottom: 10px;
    }

    .rounded-container {
        padding: 20px;
        background: white;
        border-radius: 20px;
        border: 2px solid orange;

        .sd-title-task {
            color: var(--main-dark);
        }
        .sd-title {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            white-space: break-spaces;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .sd-title-col {
                display: flex;
                
            }
        }

        .sd-status {
            display: flex;
            align-items: center;

            .sd-status-button {
                padding-block: 8px;
            }

            .sd-status-title {
                color: var(--main-dark);
                font-size: 1.2rem;
                font-weight: bold;
                white-space: break-spaces;
            }

            .sd-status-done {
                background-color: rgb(22, 167, 22);
                color: #fff;
            }
            .sd-status-not-done {
                background-color: rgb(243, 29, 29);
                color: #fff;
            }
            .sd-status-none {
                background-color: var(--grey-main);
                color: #fff;
            }
            .sd-current-status {
                position: relative;

                &::before {
                    content: '\2713';
                    position: absolute;
                    top: -11px;
                    right: -2px;
                    background-color: rgb(22, 142, 255);
                    color: white;
                    width: 13px;
                    height: 13px;
                    z-index: 2;
                    line-height: 0.8;
                    padding: 5px;
                    font-weight: bold;
                    font-size: 18px;
                    border-radius: 12px;
                }
            }

            .btn-box {
                .guideline {
                    font-size: 0.7rem;
                    width: 100%;
                    white-space: break-spaces;
                }
            }
        }
    }
}