.container {

    .lh-box,
    .rh-box {
        flex: 0 0 auto;
    }

    .title-section {
        margin-bottom: 2rem;
    }

    .on-this-day {
        margin-bottom: 1rem;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .activities-section {
        height: 80%;

        .unselected-msg {
            display: grid;
            place-items: center;
            height: 100%;
            font-style: italic;
            font-weight: 100;
            letter-spacing: 1px;
            text-align: center;
        }
    }

    .habit-box {
        margin-bottom: 10px;
    }

    .rounded-container {
        padding: 20px;
        background: white;
        border-radius: 20px;
        border: 2px solid orange;

        .sd-title-task {
            color: var(--main-dark);
        }
        .sd-title {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            white-space: break-spaces;
            display: flex;
            gap: 10px;
        }
    }
}