.container {
    width: 100%;
    // margin-top: 3rem;

    .rounded-container {
        padding: 20px;
        background: white;
        border-radius: 20px;
        border: 2px solid orange;

    }

    .no-habits {
        display: grid;
        place-items: center;
        height: 10ch;
        letter-spacing: 4px;
        font-size: 1.3rem;
        font-weight: bold;
    }

    h2.title {
        margin-bottom: 1rem;
        padding: 10px;
        padding-left: 20px;
    }

    li {
        list-style-type: none;

        &.li-tag {
            padding: 10px 20px;
        }

        &:not(:last-of-type) {
            margin-bottom: 5px;
        }

        .item-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            h2 {
                max-width: 60ch;
                white-space: pre-wrap;
                // font-size: 1.5rem;
                letter-spacing: 2px;
            }

            .right-col {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                align-items: center;

                .icon {
                    position: relative;
                    transition: all 0.3s linear;
                    cursor: pointer;
                }
                
                .week-pill {
                    background-color: grey;
                    padding: 2px 5px;
                    border-radius: 11px;
                }
                .week-pill-completed {
                    background-color: green;
                }
                .week-pill-partial {
                    background-color: orangered;
                }

                .toggle-icon {
                    margin: 10px;
                    padding: 10px;
                    border: 1px solid var(--grey-main);
                    color: var(--grey-main);
                    margin-right: 0;
                    border-radius: 20px;
                    position: relative;

                    &:hover {
                        box-shadow: inset 0 0 2px black, 0 0 2px black;

                        .toggle-text {
                            animation: collapse-expand 300ms both;
                            animation-iteration-count: 1;
                            animation-direction: alternate;
                            transform-origin: right
                        }
                    }
                }

                @keyframes collapse-expand {
                    0% {
                        transform: scale(0);
                        position: relative;
                        right: 0;
                        top: 0;
                    }

                    100% {
                        transform: scale(1);
                        right: auto;
                        top: auto;
                    }
                }

                .remove-icon {
                    padding-right: 20px;
                    font-size: 3rem;
                    line-height: 1;

                    .symbol {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}